{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm d-flex justify-content-center mt-5">
    <form action="/babies/{{baby.id}}?_method=PUT" method="POST">
        <fieldset>
            <legend>Edit {{ baby.firstName }}'s baby profile below:</legend>
            <label class="form-label">First Name: </label>
            <input 
                type="text" 
                name="firstName" 
                value="{{ baby.firstName }}"
                class="form-control"
            >
            <label class="form-label">Last Name: </label>
            <input 
                type="text" 
                name="lastName" 
                value="{{ baby.lastName }}" 
                class="form-control"
            >
            <label class="form-label">Date of Birth: </label>
            <input 
                type="date" 
                name="dateOfBirth"
                value="{{ baby.dateOfBirth | date: "%Y-%m-%d" }}"
                class="form-control"
                required
            >
            <label class="form-label">Time:</label>
            <input class="form-control" type="time" name="time" value="{{ "now" | date: "%H:%M" }}">
            <label class="form-label">Eye Color: </label>
            <input 
                type="text" 
                name="eye" 
                value="{{ baby.eye }}"
                class="form-control"
            >
            <label class="form-label">Hair Color: </label>
            <input 
                type="text" 
                name="hair" 
                value="{{ baby.hair }}" 
                class="form-control mb-1"
            >
            Gender: 
            <input 
                type="radio" 
                name="gender"
                value="Girl" 
                class="form-check-input"
                {% if baby.gender == 'Girl' %}
                    checked
                {% endif %}
            >
            <label class="form-label">Girl</label>
            <input 
                type="radio" 
                name="gender"
                value="Boy" 
                class="form-check-input"
                {% if baby.gender == 'Boy' %}
                    checked
                {% endif %}
            >
            <label class="form-label">Boy</label>
        </fieldset>
        <input type="submit" value="Edit Profile" class="btn btn-primary mt-2">
        <a class="btn btn-outline-primary mx-2 mt-2" href="/babies/{{baby.id}}">Back</a>
    </form>
    
</div>
{% endblock %}