{% layout 'layout.liquid' %}
{% block content %}

{% if baby.owner == userId %}
<div class="container-md">
    <article>
        <div class="text-center my-4">
            <h2>{{ baby.firstName }} {{ baby.lastName }}</h2>
            <h4>Baby {{ baby.gender }}</h4>
            <h5>Birthday: {{ baby.dateOfBirth | date: "%a, %b %d, %y" }} </h5>
            <h6>{{ baby.firstName }} has beautiful {{ baby.eye | downcase }} eyes and {{ baby.hair | downcase }} hair!</h6>
        </div>
        <div class="container-sm d-flex justify-content-center">
            <a href="/babies/{{baby.id}}/edit" class="btn btn-outline-primary mx-2">Edit</a>
            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteBaby">
                Delete
            </button>
            {% render './delete.liquid', userId: userId, baby: baby %}     
        </div>
    </article>


    <div class="container-sm d-flex justify-content-around mt-5">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#feedingstaticBackdrop">
            <i class="fa-solid fa-circle-plus fa-lg"></i> &nbsp;Feeding
        </button>
        {% render '../feedings/new.liquid', feeding: feeding, userId: userId, baby: baby %}

        <button type="button" class="btn btn-warning text-light" data-bs-toggle="modal" data-bs-target="#diaperstaticBackdrop">
            <i class="fa-solid fa-circle-plus fa-lg"></i> &nbsp;Diaper
        </button>
        {% render '../diapers/new.liquid', diaper: diaper, userId: userId, baby: baby %}

        <button type="button" class="btn btn-info text-light" data-bs-toggle="modal" data-bs-target="#sleepstaticBackdrop">
            <i class="fa-solid fa-circle-plus fa-lg"></i> &nbsp;Sleep
        </button>
        {% render '../sleep/new.liquid', sleep: sleep, userId: userId, baby: baby %}
    </div>

    <hr>

    <div class="row">
        <div class="col-md-8 col-lg-4">
            {% for feeding in baby.feedings reversed %}
            {% render '../feedings/index.liquid', feeding: feeding, userId: userId, baby: baby %}
            {% endfor %}
        </div>

        <div class="col-md-8 col-lg-4">
            {% for diaper in baby.diapers reversed %}
            {% render '../diapers/index.liquid', diaper: diaper, userId: userId, baby: baby %}
            {% endfor %}
        </div>

        <div class="col-md-8 col-lg-4">
            {% for sleep in baby.sleepSessions reversed %}
            {% render '../sleep/index.liquid', sleep: sleep, userId: userId, baby: baby %}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

{% endblock %}