{% layout 'layout.liquid' %}
{% block content %}

{% if baby.owner == userId %}
<div class="container-md">
    <article>
        <div class="text-center my-4">
            <h2>{{ baby.firstName }} {{ baby.lastName }}</h2>
            <h4>Baby {{ baby.gender }}</h4>
            <h5>Birthday: {{ baby.dateOfBirth | date: "%a, %b %d, %y" }}</h5>
        </div>
        <div class="container-sm d-flex justify-content-center">
            <a href="/babies/{{baby.id}}/edit" class="btn btn-outline-primary mx-2">Edit</a>
            <form action="/babies/{{baby.id}}?_method=DELETE" method="POST">
                <input type="submit" value="Delete" class="btn btn-outline-danger">
            </form>
        </div>
    </article>


    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <i class="fa-solid fa-circle-plus"></i> Feeding
    </button>

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">New Feeding Session</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/feedings/{{baby.id}}" method="POST">
                        <fieldset>
                            <label class="form-label">Date:</label>
                            <input class="form-control" type="date" name="date" value="{{ "now" | date: "%Y-%m-%d" }}">
                            <label class="form-label">Time of feeding:</label>
                            <input class="form-control" type="time" name="time" value="{{ "now" | date: "%H:%M" }}">
                            <label class="form-label mt-1">Bottle</label>
                            <input class="form-check-input mt-2" type="checkbox" name="bottle">
                            <label class="form-label mt-1">Breast</label>
                            <input class="form-check-input mt-2" type="checkbox" name="breast"><br>
                            <label class="form-label">Amount (oz):</label>
                            <input class="form-control mb-2" type="number" min="0" step=".5" name="amount" required>
                            <label class="form-label">Memo: </label>
                            <input class="form-control" type="text" name="memo" placeholder="(optional)">
                        </fieldset>
                        <div class="modal-footer">
                        <input class="btn btn-success mt-2" type="submit" value="Add Feeding">
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- <div class="col-md-4">
        
    </div> -->

    <hr>

    <div class="col-md-4">
        <form action="/sleep/{{baby.id}}" method="POST">
            <fieldset>
                <legend>New Sleep Session</legend>
                <label class="form-label">Date:</label>
                <input class="form-control" type="date" name="date" value="{{ "now" | date: "%Y-%m-%d" }}">
                <label class="form-label">Start time:</label>
                <input class="form-control" type="time" name="startTime" value="{{ "now" | date: "%H:%M" }}">
                <label class="form-label">Wake up time:</label>
                <input class="form-control" type="time" name="endTime">
                <label class="form-label">Memo: </label>
                <input class="form-control" type="text" name="memo" placeholder="(optional)">
            </fieldset>
            <input class="btn btn-success mt-2" type="submit" value="Add Sleep">
        </form>
    </div>

    <hr>

    <div class="col-md-4">
        <form action="/diapers/{{baby.id}}" method="POST">
            <fieldset>
                <legend>New Diaper Change</legend>
                <label class="form-label">Date:</label>
                <input class="form-control" type="date" name="date" value="{{ "now" | date: "%Y-%m-%d" }}">
                <label class="form-label">Time:</label>
                <input class="form-control" type="time" name="time" value="{{ "now" | date: "%H:%M" }}">
                <label class="form-label mt-1">Pee</label>
                <input class="form-check-input mt-2" type="checkbox" name="pee">
                <label class="form-label mt-1">Poop</label>
                <input class="form-check-input mt-2" type="checkbox" name="poop"><br>
                <label class="form-label">Memo: </label>
                <input class="form-control" type="text" name="memo" placeholder="(optional)">
            </fieldset>
            <input class="btn btn-success mt-2" type="submit" value="Add Diaper Change">
        </form>
    </div>


    <div class="row" justify-content-center>
        <div class="col-md-8 col-lg-4">
            {% for feeding in baby.feedings reversed %}
            {% render '../feedings/index.liquid', feeding: feeding, userId: userId, baby: baby %}
            {% endfor %}
        </div>

        <div class="col-md-8 col-lg-4">
            {% for diaper in baby.diapers reversed %}
            {% render '../diapers/index.liquid', diaper: diaper, userId: userId, baby: baby %}
            {% endfor %}
        </div>

        <div class="col-md-8 col-lg-4">
            {% for sleep in baby.sleepSessions reversed %}
            {% render '../sleep/index.liquid', sleep: sleep, userId: userId, baby: baby %}
            {% endfor %}
        </div>
    </div>

</div>
{% endif %}

{% endblock %}