{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm d-flex justify-content-center mt-5">
    <form action="/sleep/{{baby.id}}/{{theSleep.id}}?_method=PUT" method="POST">
        <fieldset>
            <legend>Edit Sleep Log</legend>
            <label class="form-label">Date:</label>
            <input 
                class="form-control" 
                type="date" 
                name="date" 
                value="{{ theSleep.date | date: "%Y-%m-%d" }}"
            >
            <label class="form-label">Start time:</label>
            <input 
                class="form-control" 
                type="time" 
                name="startTime" 
                value="{{ theSleep.startTime | date: "%H:%M" }}"
            >
            <label class="form-label">Wake up time:</label>
            <input 
                class="form-control" 
                type="time" 
                name="endTime"
                value="{{ theSleep.endTime | date: "%H:%M" }}"
            >
            <label class="form-label">Memo: </label>
            <input 
                class="form-control" 
                type="text" 
                name="memo"
                placeholder="(optional)" 
                value="{{ theSleep.memo }}"
            >
        </fieldset>
        <input class="btn btn-primary mt-2" type="submit" value="Update">
        <a href="/babies/{{baby.id}}" class="btn btn-outline-primary mt-2">Back</a>
    </form>
</div>
{% endblock %}