{% block content %}
<div class="card mb-4 shadow bg-info bg-gradient text-light">
    <div class="card-body">
        <h4><i class="fa-solid fa-moon fa-lg"></i> {{ sleep.startTime }}</h4>
        <h5>{% if sleep.endTime != '' %}
            Wake up: {{ sleep.endTime }}
            {% else %}
            Still asleep
            {% endif %}
        </h5>
        {% if sleep.memo != '' %}
        <p>Memo: {{ sleep.memo }}</p>
        {% endif %}
        <small><i>{{ sleep.date | date: "%a, %b %d, %y" }}</i></small>
        <div class="d-flex justify-content-end">
            {% if sleep.parent == userId %}
            <a href="/sleep/{{baby.id}}/{{sleep.id}}/edit" class="btn btn-outline-primary btn-sm mx-2 bg-light">Edit</a>
            <form action="/sleep/delete/{{baby.id}}/{{sleep.id}}?_method=DELETE" method="POST">
                <input class="btn btn-outline-danger btn-sm bg-light" type="submit" value="Delete">
            </form>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}