{% block content %}
{% if feeding.parent == userId %}
<div class="card mb-4 shadow bg-success bg-gradient text-light">
    <div class="card-body">
        <h4><i class="fa-solid fa-person-breastfeeding fa-lg"></i> {{ feeding.time }}</h4>
        <h5>
            {% if feeding.bottle == true and feeding.breast == true %}
            Bottlefed & breastfed
            {% elsif feeding.bottle == true and feeding.breast != true %}
            Bottlefed
            {% elsif feeding.bottle != true and feeding.breast == true %}
            Breastfed
            {% endif %}
            {{ feeding.amount }} oz
        </h5>
        {% if feeding.memo != '' %}
        <p>Memo: {{ feeding.memo }}</p>
        {% endif %}

        <div class="d-flex justify-content-end">
            <small class="mt-1 me-2"><i>{{ feeding.date | date: "%a, %b %d, %y" }}</i></small>
            <a href="/feedings/{{baby.id}}/{{feeding.id}}/edit"
                class="btn btn-outline-primary btn-sm mx-1 bg-light">Edit</a>
            <form action="/feedings/delete/{{baby.id}}/{{feeding.id}}?_method=DELETE" method="POST">
                <input class="btn btn-outline-danger btn-sm bg-light" type="submit" value="Delete">
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}